#page-footer {
    ul {
        margin-bottom: 0;
    }
    .footer-info-section {
        margin-top: 0;
    }
    .frame {
        --frame-spacing: var(--up-footer-spacing);
    }
}
.footer-section-content {
    padding-top: var(--up-footer-spacing);
    padding-bottom: var(--up-footer-spacing);
}
.footer-section-meta {
    --up-footer-spacing: calc(0.25 * var(--pp-frame-spacing));
    .footer-menu-section > *, .footer-info-section > * {
        padding-top: var(--up-footer-spacing);
        padding-bottom: var(--up-footer-spacing);
    }
}

@include media-breakpoint-down(sm) {
    #page-footer {
        .text-right, .text-center, .sociallinks-list, .footer-section-meta {
            text-align: left !important;
        }
        .sociallinks-list {
            justify-content: flex-start;
        }
    }
}

//
// Bootstrap package social links footer class
// --------------------------------------------------
.footer-sociallinks {
    --up-sociallinks-size: 1.5rem;
    .sociallinks-list {
        gap: 0.5rem;
    }
    .sociallinks-link {
        width: calc(1.5 * var(--up-sociallinks-size));
        height: calc(1.5 * var(--up-sociallinks-size));
    }
}
