.navbar-brand-text {
    display: flex;
    align-items: center;
}

//.navbar-mainnavigation .navbar-brand-image img {
//    max-height: calc(var(--mainnavigation-nav-height) - 30px);
//}

.navbar-mainnavigation {
    --mainnavigation-hightlight: var(--bs-navbar-active-color);
}
