html {
    font-size: 100%;
    // rem ~ px -> has impact on list indents
}
#page-content {
    padding: 1px 0;
    // for safari
}
svg {
    fill: currentColor;
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    word-break: normal;
    overflow-wrap: anywhere;
    color: var(--pp-frame-headings-color);
}
@include media-breakpoint-up(lg) {
    :root {
        --bs-body-font-size: #{1.125 * $font-size-base};
    }
}
ul.list-normal {
    padding-left: 1.5rem;
    li {
        margin-bottom: 0.5rem;
    }
}
