html {
    font-size: 100%;
    // rem ~ px -> has impact on list indents
}
#page-content {
    padding: 1px 0;
    // for safari
}
svg {
    fill: currentColor;
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    word-break: normal;
    overflow-wrap: anywhere;
    color: var(--pp-frame-headings-color);
    margin-top: calc(1.5 * var(--up-headings-margin-bottom));
    margin-bottom: var(--up-headings-margin-bottom);
    &:first-child {
        margin-top: 0;
    }
    &:last-child {
        margin-bottom: 0;
    }
}
.frame-header {
    margin-bottom: var(--up-headings-margin-bottom);
    &:last-child {
        margin-bottom: 0;
    }
    h1, h2, h3, h4, h5, h6,
    .h1, .h2, .h3, .h4, .h5, .h6 {
        margin-top: 0;
        margin-bottom: 0.5rem;
    }
}
ul.list-normal {
    padding-left: 1.5rem;
    li {
        margin-bottom: 0.5rem;
    }
}
