@include media-breakpoint-down(xs) {
    footer {
        .text-right, .text-center, .sociallinks-list, .footer-section-meta {
            text-align: left !important;
        }
    }
}
@include media-breakpoint-down(md) {
    footer .ppc-middle .frame-default {
        padding-top: 0;
    }
}
@include media-breakpoint-down(xs) {
    footer .ppc-right .frame-default {
        padding-top: 0;
    }
}
