.pp-tile:not(.none) {
  .upc-type-4 {
    &, figure, iframe {
      width: 100%;
      height: 100%;
    }
  }
  figcaption {
    position: absolute;
    top: 0;
    left: 0;
    bottom: auto;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 8px;
    text-align: center;
    transition: background-color 500ms;
  }

  &:hover {
    figcaption {
      background: $primary;
      color: color-yiq($primary);
    }
  }
}
